
{% extends 'app/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>О нашей организации ООО "Новый Дом"</h2>
    <div class="card" style="margin-bottom: 100px">
        <div class="card-body">
            <p>
                Строительная фирма "Новый Дом" была основана в Великих Луках в 1991 году и сегодня является одной из крупнейших в региональной строительной отрасли. Среди её заказчиков - Главное управление Центрального банка по Псковской, Смоленской и Тверской областям, Сберегательный банк по Псковской, Смоленской и Тверской областям, ФГПУ "Госкорпорация по организации воздушного движения" (г. Москва), Управление Октябрьской железной дороги, Отделение Пенсионного фонда по Псковской области, Управление Федерального казначейства по Псковской области, администрация Псковской области, администрация города Великие Луки, Федеральное государственное унитарное дорожное эксплуатационное предприятие по Псковской области.
            </p>
            {% load static %}
            <div style="text-align: center">
                <img src="{% static 'images/about1.jpg' %}" alt="" width="700">
                <figcaption style="color: #aaa; font-size: 12px">Офис организации</figcaption>
            </div>

            <p>
 
В частности, в Великих Луках фирма "Новый Дом" построила по заказу Федерального Государственного унитарного предприятия "Госкорпорация по ОрВД" радиолокационную позицию, оснащённую первым в РФ радиолокационным комплексом двойного назначения. А кроме этого капитально отремонтировала районный детский дом, который был принят в эксплуатацию с отличным, как было отмечено, качеством выполненных строительных работ. ООО "Новый Дом" является также строителем спортивного комплекса для Великолукского филиала завода "Электросила", который был возведён из облегчённых металлоконструкций с применением новейших материалов и технологий. Дизайн отремонтированных в 2006 году помещений Великолукского отделения Управления Федерального казначейства по Псковской области является авторской разработкой проектно-архитектурного бюро ООО "Новый Дом". "Новым Домом" был разработан и осуществлён проект капитального ремонта великолукского "Торгового ряда "Весна".
            </p>
            {% load static %}
            <div style="text-align: center">
                <img src="{% static 'images/about2.jpg' %}" alt="" width="700">
                <figcaption style="color: #aaa; font-size: 12px">Cклады предприятия</figcaption>
            </div>
            <p>
 
Архитектурно-проектное бюро ООО "Новый Дом" является одним из немногих в Псковской области, которое работает по стандартам, предъявляемым при проектировании банковских учреждений. Поэтому капитальный ремонт здания Великолукского филиала ОАО "Балтийский банк" также был доверен фирме "Новый Дом". Эта же фирма отремонтировала в 2006 году актовый зал в пансионате Центрального банка по Псковской области в посёлке Кривск, украсив его художественным паркетом со сложнейшим узором. В 2007 году "Новый Дом" осуществил уникальные работы по усилению фундамента здания ГОВД города Великие Луки методом задавливания свай в алювиальных слоях.
            </p>
        </div>
    </div>
</div>
{% endblock %}