{% extends 'app/base.html' %}

{% block content %}
  <div class="container mt-5 maincardttt">
    <h2>{{ projects.title }}</h2>
    <div class="card mt-3">
      <div class="card-body">
        <p class="card-text">{{projects.content}}</p>
        <div style="text-align: center">
            <img src="{{ projects.photo.url }}" alt="" width="700">
        </div>
        <p class="card-text"><small class="text-muted">Опубликовано {{projects.created_at}}</small></p>
      </div>
    </div>
  </div>
{% endblock %}
